@charset 'utf-8';
/******= Reset =******/
section, article, aside, header, footer, nav, dialog, figure, legend { display: block; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; table-layout: fixed; }
table td { word-break: break-all; }
caption, th { text-align: left; }
ol, ul { list-style: none; }
img { display: block; border: 0; vertical-align: middle; height: auto; width: auto\9;/* ie8 */}
*:focus { outline: 0; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; -webkit-box-sizing: border-box; box-sizing: border-box }
audio, canvas, video { display: inline-block; *display:inline;
*zoom:1;
}
audio:not([controls]) { display: none; }
[hidden] {display:none;}
.dis_non{ display:none;}
em,i{ font-style:normal;}
/******= Typography =******/
html, body { font-family:"微软雅黑"; width:100%; overflow-x: hidden;}
html { font-size: 30px; outline: 0; }
body { color: #767676; background: #000; -webkit-user-select: none; -webkit-text-size-adjust: none; position: relative; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
.clearfix { zoom: 1; }
.clearfix:after { content: "."; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden; }
.clear { clear: both; height: 1px; margin-top: -1px; overflow: hidden; }
.dis_non{ display:none;}
a,select{ outline: none;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;}
i,em{ font-style:normal;}
select{-webkit-appearance: none;}
::-webkit-input-placeholder{
	color:#727171;	
}
a{ text-decoration:none;}
/******************=横屏提示=******************/
.lock_wrp{position:fixed;width:100%; height:100%;z-index:10001; overflow:hidden; left:0; top:0; background:#112f75; color:rgba(255,255,255,.8); }
.lock{position:absolute; left:50%; top:50%; width:400px; height:150px; margin:-75px 0 0 -200px;font-size:18px;color:#fff;line-height:24px; text-align:center;}
.lock i{position:relative; display:block; width:74px; height:110px; background:url(http://appmedia.qq.com/media/SNK2017/images/iphone.png) 0 0 no-repeat; background-size:100%; margin:0 auto; -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); -webkit-animation:iphone 1.6s ease-in infinite; -moz-animation:iphone 1.6s ease-in infinite; -o-animation:iphone 1.6s ease-in infinite; -ms-animation:iphone 1.6s ease-in infinite; animation:iphone 1.6s ease-in infinite;}
@-webkit-keyframes iphone{0%{-webkit-transform:rotate(-90deg);}25%{-webkit-transform:rotate(0deg);}50%{-webkit-transform:rotate(0deg);}75%{-webkit-transform:rotate(-90deg);}100%{-webkit-transform:rotate(-90deg);}}
@-moz-keyframes iphone{0%{-moz-transform:rotate(-90deg);}25%{-moz-transform:rotate(0deg);}50%{-moz-transform:rotate(0deg);}75%{-moz-transform:rotate(-90deg);}100%{-moz-transform:rotate(-90deg);}}
@-o-keyframes iphone{0%{-o-transform:rotate(-90deg);}25%{-o-transform:rotate(0deg);}50%{-o-transform:rotate(0deg);}75%{-o-transform:rotate(-90deg);}100%{-o-transform:rotate(-90deg);}}
@-ms-keyframes iphone{0%{-ms-transform:rotate(-90deg);}25%{-ms-transform:rotate(0deg);}50%{-ms-transform:rotate(0deg);}75%{-ms-transform:rotate(-90deg);}100%{-ms-transform:rotate(-90deg);}}
@keyframes iphone{0%{transform:rotate(-90deg);}25%{transform:rotate(0deg);}50%{transform:rotate(0deg);}75%{transform:rotate(-90deg);}100%{transform:rotate(-90deg);}}

/* portrait */
@media screen and (orientation:portrait) {/*竖屏*/
	.lock_wrp{display:none!important;}
}
/* landscape */
@media screen and (orientation:landscape) {/*横屏*/
	.lock_wrp{display:block!important;}
}

/******= loading =******/
#loading{ display:block;}
.loading_bg { position:fixed; width: 100%; height: 100%; overflow: hidden; background-color: #112f75; left: 0; top: 0; -webkit-transform-style: preserve-3d; z-index: 12 }
.loading_wrp { position: absolute; width: 128px; height: 185px; overflow: hidden; left: 50%; top: 42%; margin: -5px 0 0 -50px; }
.loading_wrp b { font-weight: normal; position: absolute; display: block; width: 100%; font-size: 32px; line-height: 40px; bottom: 0px; color: #fff; text-align: center; }

/******= index =******/
.wap_bg img{ margin-top:-1px;pointer-events:none; }
.main{ position: absolute; width:100%; z-index:2;}
.top_img{ width: 100%; background-size: 100%; position: absolute;  top: 0; left: 0}
.logo{ width: 261px; background-size: 100%; position: absolute; top: 26px; right: 32px; z-index: 2}
.btn_yuyue{ width: 415px; background-size: 100%; position: absolute;  top: 232px; left: 66px; display: block;}
.slogan_live,.slogan_after{width: 369px; background-size: 100%; position: absolute;  top: 232px; left: 66px; display: none;}
.hand{ width: 41px; background-size: 100%; position: absolute; top: 386px; left: 210px; }
.page_video{ width: 100%; height: 422px; position: absolute; top: 472px; left: 0;}
.video_player,.live_before,.video_live{ width: 100%; height: 422px; position: absolute; top: 0; left: 0; }

.video_thumb{ position:absolute; top:906px; left: 13px; }
.video_thumb li{ float: left; width: 238px; height: 166px;  margin-right:5px; position: relative;}
.video_thumb li.hover{background: url("https://mat1.gtimg.com/news/zt2020/BudLight/video_thumb_border.png") 0 0 no-repeat; background-size: 100%;}
.video_thumb li a{ width: 100%; display: inline-block; position: relative;}
.video_thumb li a i{ width: 236px; height: 132px; position: absolute; top: 1px; left: 1px; background: #000; opacity: 0.5; z-index: 2; display: block;}
.video_thumb li a img{ width: 236px; height: 132px; background-size: 100%; margin: 1px}
.video_thumb li a .comingSoon_txt{ width: 115px; height: 27px; background-size: 100%; position: absolute; top:50px; left: 49px; z-index: 3;}
.video_thumb li a .icon_play{ width: 40px; height: 41px; background-size: 100%; position: absolute; top: 45px; left: 99px; opacity: 1; z-index: 3; }
.video_thumb li p{ width: 236px; height: 31px; line-height: 31px; background: #071435; position: absolute; bottom: 1px; left: 1px; font-size: 18px; color: #fff; opacity: 0.5; text-align: center;}
.video_thumb li.hover p{ opacity: 1}

.banner{ width: 724px; background-size: 100%; position: absolute; top: 1084px; left: 13px; display: block;}
.lunbo_bg{ width: 658px; background-size: 100%; position: absolute; top: 1268px; left: 46px;}
.page_lunbo{ width: 720px; height: 569px; position: absolute; top: 1257px; left: 16px; }

.tip{ width: 202px; background-size: 100%; position: absolute; top: 1750px; left: 278px;}
.copyright{ width: 648px; background-size: 100%; position: absolute; top: 1867px; left: 51px;}




/******= swiper =******/
.swiper-container { width: 100%; height:100%;}
.swiper-slide { text-align: center; font-size: 18px; /* Center slide text vertically */
display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.btn_prev{ width:52px; height:115px; background:url('https://mat1.gtimg.com/news/zt2020/BudLight/btn_prev.png') 0 0 no-repeat; background-size:100%; left:-5px; top: 50%; margin-top: -75px;}
.btn_next{ width:52px; height:115px; background:url('https://mat1.gtimg.com/news/zt2020/BudLight/btn_next.png') 0 0 no-repeat; background-size:100%; right:-5px; top: 50%; margin-top: -75px;}
.swiper-container-horizontal>.swiper-pagination{ bottom:0px;}
.swiper-pagination-bullet{ width: 53px; height: 4px; background: #0075c1; margin-right: 10px; border-radius:0; opacity: 1;}
.swiper-pagination-bullet-active{ background: #0cf6ff;}
.swiper-slide img{ margin-top: -101px;}
.hide{ display: none; }


.scale {-webkit-animation: scale 2s infinite;}
.scale2 {-webkit-animation: scale 2s infinite;}
@-webkit-keyframes scale {  
	0% {-webkit-transform: scale(1); }  
	50% {-webkit-transform: scale(0.9); }  
	100% {-webkit-transform: scale(1); } 
}












